@page
@model FinanceSpreetail.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    Response.Redirect("/About");
}
else
{
    <br />
    <h2>Welcome to the Bienhoff Finance Application. </h2>
    <h4>Please Login or Register a free account to Access the Application.</h4>

}
