@page
@model FinanceSpreetail.Pages.Transactions.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    Response.Redirect("/Transactions");


}
else
{
    <h2>Please Login or Register to Access the Application.</h2>
    
}
